@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap');

.app {
  position: relative;
}

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: hidden;
}

.box {
  width: 90%;
  display: flex;
  background: grey;
  justify-content: center;
  margin: 10px auto;
  transition: all 1s ease-in-out;
  background-color: white;
}
.button-wrapper {
  display: flex;
  align-self: flex-end;
  flex-direction: row;
}

.language-button{
  border-radius: 5px;
  padding: 3px;
  font-size: 15px;
  text-decoration: none;
  margin: 4px;
  position: relative;
  display: inline-block;
  box-shadow: 3px 2px 0px 0px #00000038;
}
.language-button:hover {
  background-color: rgba(85, 81, 81, 0.961);
  color: #fff;
}
.slides {
  width: 25%;
  transition: all 0.7s ease-in-out;
  position: relative;
  outline: none;
}

.slides:hover {
  width: 30%;
}

.pic1:hover {
  -webkit-filter: grayscale(100%);
  background-color: rgba(black, 0.5); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
  transition: all 0.5s ease-in-out;
}

.pic1 {
  background: url('../src/assets/slides2/slide1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-position-x: right;
}

.pic2 {
  background: url('../src/assets/slides2/slide2.png');
  background-color: rgba(black, 0.5);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.pic2:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
}

.pic4 {
  background: url('../src/assets/slides2/slide4.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 0.5s ease-in-out;
}

.pic4:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
  transition: all 0.5s ease-in-out;
}

.pic3 {
  background: url('../src/assets/slides2/slide3.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-position-x: left;
}

.pic3:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
  transition: all 0.5s ease-in-out;
}
.pic2:before,
.pic1:before {
  height: 79% !important;
}
.pic3:before {
  height: 76% !important;
}
.pic4:before {
  height: 71% !important;
}

.index {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 25px;
  opacity: 0.7;
  z-index: 10;
}

.title {
  position: absolute;
  bottom: 85px;
  right: -72px;
  color: #fff;
  font-size: 15px;
  opacity: 0.7;
  transform: rotate(-90deg);
  z-index: 10;
  width: 193px;
  letter-spacing: 4px;
}

.slides:before {
  position: absolute;
  top: 0;
  content: '';
  right: 23px;
  width: 1px;
  height: 85%;
  background: #fff;
  opacity: 0.1;
}

.closeTab {
  position: absolute;
  top: 20px;
  margin: 0;
  right: 50px;
  color: white;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.active {
  width: 200% !important;
  transition: all 0.5s ease-in-out;
  background-position: center center !important;
}
.active:before {
  display: none;
}

.resume {
  transition: all 0.5s ease-in-out;
  color: #fff;
  margin: 0 auto;
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.resume {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.resume::-webkit-scrollbar {
  display: none;
}

.resume p {
  transition: all 0.5s ease-in-out;
  text-align: left;
  font-size: 30px;
  line-height: 144%;
  font-weight: 100;
  width: 100%;
}

.resume h4 {
  transition: all 0.5s ease-in-out;
  font-size: 50px;
  font-weight: 900;
  margin: 0;
}

.resume h5 {
  padding: 0;
  margin: 0;
  font-weight: 100;
  font-size: 46px;
}

.resume div {
  transition: all 0.5s ease-in-out;
}
.showDesc-enter {
  opacity: 0;
  transition-delay: 0.8s;
}
.showDesc-enter-active {
  opacity: 1;
}
.showDesc-leave {
  transition: all 0.5s ease-in-out;
  opacity: 1;
}
.showDesc-leave-active {
  opacity: 0;
}

/* filter fade setting */

.showFilter-enter {
  opacity: 0.1;
  transition: all 0.7s ease-in-out;
}
.showFilter-enter-active {
  opacity: 1;
}
.showFilter-leave {
  opacity: 1;
  transition: all 0.7s ease-in-out;
}
.showFilter-leave-active {
  opacity: 0;
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0.6;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.8);
  mix-blend-mode: hard-light;
  display: none;
}

h1 {
  font-size: 150px;
  font-weight: 100;
  margin: 100px 0 400px;
  animation-delay: 0.6s !important;
  max-width: 70%;
}


div {
  animation-delay: 0.6s !important;
}
ul li {
  transition: all 0.5s ease-in-out;
  text-align: left;
  font-size: 20px;
  line-height: 144%;
  font-weight: 100;
  width: 70%;
  opacity: 0.6;
}

.logoSection {
  float: none !important;
  margin: 0 auto !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100% !important;
  text-align: center;
}

.logoSection img {
  width: 200px;
  margin: 40px;
}
.FILMS {
  width: 150px !important;
}
.TGS {
  width: 160px !important;
}

.socialIcons a {
  margin: 20px;
}
.navLogo {
  z-index: 10;
  width: 90%;
  text-align: left;
  height: auto;
  font-size: 30px;
  transition: all 1s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  flex-direction: row;
}

.mainLogo {
  position: absolute;
  left: 0;
  top: 40%;
  font-size: 100px;
  z-index: 100;
  width: 100%;
  text-align: center;
  height: 40px;
  transition: all 1s ease-in-out;
}

.showLogo {
  top: 50%;
  transform: translatey(-50%);
}

.footer {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  clear: both;
  border-top: 2px solid white;
  padding-bottom: 40px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.footer p {
  text-align: center;
  margin: -20px 0 10px 0;
  letter-spacing: 3px;
}
.footer a {
  margin: 0 10px;
}
.footer h6 {
  padding-top: 20px;
  font-size: 16px;
  letter-spacing: 3px;
  margin-bottom: 28px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border-top: 2px solid #000;
  border-right: 2px solid transparent;
  animation: spinner 1s linear infinite;
}

.animate {
  transition: all 1s ease-out;
  transform: translatey(0px);
  display: inline-block;
}
.showIt {
  transition: all 1s ease-out;

  animation: animate 0.5s;
}

@keyframes animate {
  0% {
    transform: translatey(0px);
    opacity: 1;
  }
  40% {
    transform: translatey(20px);
    opacity: 0;
  }

  50% {
    transform: translatey(-20px);
    opacity: 0;
  }
  100% {
    transform: translatey(0px);
    opacity: 1;
  }
}

p a {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 812px) {
  body {
    overflow: auto;
  }
  .mainLogo {
    font-size: 40px;
    margin: auto;
  }
  .navLogo {
    display: flex;
    text-align: center;
    top: -130px;
  }
  .navLogo p {
    font-size: 26px !important;
    width: 100% !important;
  }
  #root
    > div
    > div
    > div
    > div.active.pic3.slides
    > span:nth-child(4)
    > div
    > div:nth-child(2)
    > p {
    width: 100% !important;
  }
  .box {
    width: 100%;
    height: auto !important;
    flex-direction: column;
    left: 0;
    transform: none;
  }
  .slides {
    width: 100%;
    height: 200px;
  }
  .slides:hover {
    width: 100%;
  }
  .resume {
    width: 90%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .resume h1 {
    font-size: 60px;
    margin: 100px 0 160px;
  }
  .resume h5 {
    font-size: 25px;
  }
  .resume p {
    font-size: 20px !important;
  }
  .resume div {
    width: 100% !important;
  }
  .active {
    width: 100% !important;
    height: 500px;
  }
  .logoSection {
    text-align: center;
  }
  .logoSection img {
    text-align: center !important;
    width: 100px !important;
    margin: 20px;
  }

  #root
    > div
    > div
    > div
    > div.active.pic4.slides
    > span:nth-child(4)
    > div
    > div:nth-child(3) {
    display: block !important;
  }
  .title {
    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    transform: none;
  }
  .index {
    display: none;
  }
  .slides:before {
    display: none;
  }
  .closeTab {
    z-index: 10;
  }
  .contacts {
    flex-direction: column;
  }
}
